.search-bar-main{
    width: 45%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0px 0px 0px 20px;
}

#search-text{
    width: 100%;
    border: 0px;
    outline: none;
}

.search-bar-main > button {
    border: 0px;
    background: transparent;
}

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
     
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }